.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage*
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
env
docs_build
site_build
venv
.env
.venv/
docs.zip
archive.zip
predicciones.csv
data_train/predicciones.csv

# vim temporary files
*~
.*.sw?
.cache
/temp_files
temp_files
/temp_downloads
temp_downloads

/uploads
uploads

/uploads
uploads
/exports
exports

/technical_note
technical_note

/parquet_cache
parquet_cache

/duckdb_storage
duckdb_storage

/metadata_cache
metadata_cache

/generate_report.txt
generate_report.txt